body {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:visited {
	color:#1D9D87;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.block {
	display:block;
}

.inline {
	display:inline;
}

.loading {
	opacity:0;
}

.dynamic {
	-webkit-transition:opacity 200ms linear;
}


.relative {
	position:relative;
}

.overlay {
	position:absolute;
}

.overflow-hidden {
	overflow:hidden;
}

.layout-center {
	margin:0 auto;
	width:1024px;
}

.fl-left {
	float:left;
}

.fl-right {
	float:right;
}

.clear-fix:after {
	content:".";
	visibility:hidden;
	height:0;
	clear:both;
	display:block;
}

.horizontal > li {
	display:inline-block;
}

.pad {
	padding:10px;
}

.pad-em {
	padding:3em;
}

.pad-large {
	padding:25px;
}

.text-center {
	text-align:center;
}

.text-right {
	text-align:right;
}

.text-white {
	color:#fff;
}

.text-bold {
	font-weight:bold;
}

.text-italic {
	font-style:italic;
}

.text-big {
	font-size:1.8em;
}

.text-small {
	font-size:0.8em;
}

.text-translucent {
	opacity:.8;
}

.img-small {
	width:25px;
}

.nowrap {
	white-space:nowrap;
}

.translucent {
	background:rgba(255, 255, 255, .8);
}

.translucent-dark {
	background:rgba(0, 0, 0, .8);
}

.close {
	position:absolute;
	top:-10px;
	right:-10px;
	cursor:pointer;
	background:#fff;
	display:block;
	padding:5px;
	border:2px solid #333;
	border-radius:10px;
	z-index:1000;
}


.content.dynamic.loading {
	overflow:hidden;
}


/* SECTIONS */
.site-header {
	background:rgba(255, 255, 255, .9);
}

.site-title {
	display:inline;
}

.site-nav li { 
	padding:0px 20px;
}

.site-nav li:first-child {
	padding-left:0;
}

/*
	
	STATIC

*/

.content {
	margin:0 auto;
}

.blog-header {
	height:470px;
	position:relative;
	overflow:hidden;
	color:#fff;
}

.blog-header .hero {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	z-index:50;
	width:100%;
}

.blog-header .text {
	position:absolute;
	left:0;
	right:0;
	top:200px;
	z-index:100;
}

.blog-title {
	font-size:2.7em;
}

.intro {
	margin:80px;
	font-size:1.6em;
}

.trip-location {
	margin:40px auto 0;
	padding:0 40px;
	font-size:1.1em;
}

.trip-location .header {
	margin:0 -20px;
	padding:50px 20px;
	border-top:2px solid #ccc;
}

.trip-location .title {
	margin:20px 0;
}

.posts {
	width:66%;
}

.posts figure {
	clear:right;
	width:250px;
	float:right;
	margin-top:20px;
	margin-right:-300px;
}

.posts figure img {
	max-width:100%;
}

.posts figure figcaption {
	font-size:0.7em;
}

.location-facts {
	margin-right:-300px;
	padding-left:30px;
	width:250px;
}

.youtube iframe {
	width:100%;
	height:350px;
}