body {
	font-family:Helvetica;
}

a, a:visited {
	color:#00a;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.block {
	display:block;
}

.relative {
	position:relative;
}

.overlay {
	position:absolute;
}

.overflow-hidden {
	overflow:hidden;
}

.transparent {
	opacity:0;
	-webkit-transform:translateZ(0);
}

.layout-center {
	margin:0 auto;
	width:980px;
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear-fix:after {
	content:".";
	visibility:hidden;
	height:0;
	clear:both;
	display:block;
}

.horizontal > li {
	display:inline-block;
}

.pad {
	padding:10px;
}

.pad-large {
	padding:25px;
}

.text-center {
	text-align:center;
}

.text-right {
	text-align:right;
}

.text-white {
	color:#fff;
}

.text-bold {
	font-weight:bold;
}

.text-italic {
	font-style:italic;
}

.text-shadow {
	text-shadow:2px 1px 1px #333;
}

.text-big {
	font-size:1.8em;
}

.text-translucent {
	opacity:.8;
}

.img-small {
	width:25px;
}


.nowrap {
	white-space:nowrap;
}

.translucent {
	background:rgba(255, 255, 255, .8);
}

.box-shadow {
	box-shadow:3px 3px 10px #333;
}


/* SECTIONS */
.site-header {
	background:rgba(255, 255, 255, .8);
}

.site-title {
	display:inline;
}

.site-nav li { 
	padding:0px 20px;
}

.site-nav li:first-child {
	padding-left:0;
}


.fixed-nav {
	position:fixed;
	left:10px;
	top:0;
	bottom:0;
	z-index:100;
}

/* PAGES */
.posts-show-nashville, 
.posts-show-nashville body,
.posts-show-nashville .content {
	height:100%;
}

.posts-show-nashville .scroll {
	height:10050%;
}

.posts-show-nashville body {
	position:relative;
}

.posts-show-nashville .site-header {
	position:relative;
	z-index:100;
}

.posts-show-nashville .google-map {
	position:fixed !important;
	z-index:50;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

.posts-show-nashville .blog-content .full-height {
	height:100%;
}

.posts-show-nashville .blog-content .light-text {
	color:#fff;
}

.posts-show-nashville .blog-content,
.posts-show-nashville .blog-content .blog-section {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:60;
}

.posts-show-nashville .blog-content .vert-one-quarter {
	position:absolute;
	top:25%;
	width:100%;
	z-index:60;
}

.posts-show-nashville .blog-content .vert-center {
	position:absolute;
	top:50%;
	width:100%;
	z-index:60;
}

.posts-show-nashville .blog-content .vert-bottom {
	position:absolute;
	bottom:5%;
	width:100%;
	z-index:60;
}


.posts-show-nashville .blog-content .blog-title {
	margin-bottom:20px;
	font-size:2em;
}

.posts-show-nashville .card {
	position:absolute;
	left:5%;
	top:10%;
	bottom:10%;
	width:40%;
	box-shadow:3px 3px 10px #333;
}

.posts-show-nashville .card .header {
	height:70%;
}

.posts-show-nashville .card .header img {
	position:absolute;
	left:50%;
	-webkit-transform:translateX(-50%);
	min-height:100%;
}


.posts-show-nashville .card p {
	font-size:0.8em;
}
