<header class="page-header">
	<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t1/c66.66.828.828/s160x160/543867_10101728190888508_1799069430_n.jpg" class="profile-pic" width="80" />
	<p>Musings on travel, the outdoors, and life</p>
	<section class="social">
		<a href="https://www.facebook.com/david.turissini.1" target="_BLANK"><img src="http://www.msjc.edu/StudentServices/StudentGovernmentAssociation/District%20Committees%2020112012/facebook_logo.png" width="28" /></a>
		<a href="http://www.linkedin.com/profile/view?id=161507167&trk=nav_responsive_tab_profile" target="_BLANK"><img src="http://www.gettysburg.edu/dotAsset/0bf7c0b7-b218-49ae-aa3a-c45e75d1765e.png%26random%3D33870" width="32" /></a>
	</section>

</header>

<div class="grid">
	<div class="grid-cell">
		<section id="hero" class="hero">
			<a href="/posts/nashville-tennessee-north-carolina-fall-road-trip">
				<img src="http://farm3.staticflickr.com/2824/10505814516_5040c94c1c_b.jpg" alt="" />
				<h2>Tennessee Country and North Carolina Autumn Drives</h2>
				<h3>Experience the map</h3>
			</a>
		</section>

		<section class="posts">
			<h3>Latest Posts</h3>
			<ul class="grid">
				<li class="post">
					<a href="" class="post-link">
						<img class="image" />
						<h4 class="title"></h4>
					</a>
				</li>
			</ul>
		</section>
	</div>

	<div class="grid-cell">
		<section class="hikes">
			<h3>My recent hikes on <a href="http://www.everytrail.com/profile.php?user_id=2185111" target="_BLANK"><img src="http://www.everytrail.com/images/badge_ETlogo.png" valign="middle" /></a></h3>
			<ul>
				<li class="hike">
					<a href="" target="_BLANK" class="name hike-link">
					</a>
				</li>
			</ul>

		</section>

		<section id="travel-stats" class="travel-stats">
			<h3>Travel status</h3>
			Visited <span class="states-count"></span> states to date
		</section>
	</div>

</div>


