<div id="map" class="google-map"></div>
<div class="scroll"></div>
<article id="blog-content" class="blog-content">
	<header id="blog-header" class="full-height light-text blog-section">
		<div class="vert-center">
			<h1 class="blog-title text-center">Southeast Music and Nature Roadtrip</h1>
			<h2 class="blog-dates text-center">{{trip.start_date}} - {{trip.end_date}}</h2>
		</div>
	</header>
	<section id="data" class="clear-fix full-height transparent blog-section text-big">
		<div class="vert-center">
			<h3 class="text-center text-white">3 States</h3>
			<h3 class="text-center text-white">5 Destinations</h3>
			<h3 class="text-center text-white">500 miles</h3>
		</div>
	</section>
	<div id="odometer" class="text-big transparent text-white text-center vert-one-quarter">Mile <span id="odometer-value">0</span></div>
	<section id="nashville" class="clear-fix full-height transparent blog-section">
		<div class="left translucent card">
			<img src="http://farm3.staticflickr.com/2852/10305737353_03f87af181_b.jpg" class="image" alt="" />
			<p class="pad-large">Nashville Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</section>
	<div class="full-height transparent blog-section"></div>
	<section id="jack-daniels" class="full-height transparent blog-section">
		<div class="left translucent card">
			<img src="http://farm3.staticflickr.com/2852/10305737353_03f87af181_b.jpg" class="image" alt="" />
			<p class="pad-large">Jack Daniels Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</section>
	<section id="lookout-mountain" class="full-height transparent blog-section">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</section>
	<section id="mt-pisgah" class="full-height transparent blog-section">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</section>
	<section id="blue-ridge-parkway" class="full-height transparent blog-section">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</section>
	<section id="smokey-mountains" class="full-height transparent blog-section">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</section>
</article>