/* 

	SHARED

*/

body {
	background:#ebebeb;
}


.posts figcaption {
	padding-top:10px;
	font-size:0.8em;
}

.location-facts .fact {
	padding:5px 0;
}

.location-facts .title {
	margin-bottom:5px;
	font-weight:bold;
}

.location-facts .fact:first-child {
	border:none;
}

/*

	MAP VERSION

*/
.map, 
.map body,
.map .content {
	width:100%;
	height:100%;
}

.map body {
	position:relative;
}

.map .scroll {
	height:5400%;
}

.map .google-map {
	position:fixed !important;
	z-index:50;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

.map .text-shadow {
	text-shadow:2px 1px 1px #333;
}

.map .box-shadow {
	box-shadow:3px 3px 10px #333;
}

.map .fixed {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:60;
}

.map .vert-center {
	position:absolute;
	top:50%;
	width:100%;
	z-index:60;
}

.map .full-height {
	height:100%;
}

.map .transparent {
	opacity:0;
	-webkit-transform:translateZ(0);
}

.map .dashboard {
	display:block;
	position:relative;
	z-index:100;
}

.map .expand {
	display:block;
	position:absolute;
	z-index:1000;
	bottom:-2.5em;
	right:10px;
	color:#ccc;
	font-size:0.8em;
	line-height:2em;
	-webkit-transform:translateZ(0);
	-webkit-transition:opacity 200ms ease-out;
	opacity:0.2;
}

.map .blog-title {
	margin-bottom:20px;
	font-size:2em;
}

.map .intro {
	margin:0 auto;
	width:80%;
	color:#fff;
}

.map .posts {
	display:none;
	margin-left:40px;
	margin-right:330px;
	width:auto;
}

.map .trip-location {
	padding:0;
	margin:0;
	width:50%;
	top:500%;
	-webkit-transform:translateX(-100px);
	-webkit-transition:opacity 400ms ease, -webkit-transform 400ms ease;
}

.map .trip-location .header {
	margin:0;
	padding:0;
	border-top:0;
	overflow:hidden;
	height:100%;
}

.map .trip-location .header .images {
	height:100%;
}

.map .card {
	background:#ebebeb;
	position:relative;
	top:50%;
	margin-left:5%;
	width:80%;
	box-shadow:30px 30px 70px #000;
	-webkit-transform:translateY(-50%);
}

.map .card .header .title {
	position:absolute;
	bottom:10px;
	left:10px;
	right:10px;
	z-index:100;
	margin:0;
	color:#fff;
}

.map .blog-header {
	color:#fff;
}

.map .blog-header .hero {
	display:none;
}

.map .galleria-thumbnails-container,
.map .galleria-image-nav {
	display:none;
}


.map .posts .right {
	text-align:right;
}


.map .location-facts {
	display:none;
	margin-top:10em;
	padding-left:19px;
	border-left:1px solid #ccc;
}


/* 

	CONTAINERS

*/

.posts-show-nashville .site-header {
	position:relative;
	z-index:100;
}


/* 

	POSITIONING
	
*/


.posts-show-nashville .blog-content .vert-one-quarter {
	position:absolute;
	top:25%;
	width:100%;
	z-index:60;
}

.posts-show-nashville .blog-content .vert-bottom {
	position:absolute;
	bottom:5%;
	width:100%;
	z-index:60;
}


/* 

	BLOG CONTENT
	
*/

.dashboard {
	display:none;
}


.posts-show-nashville .blog-content .trip-location.right {
	left:50%;
}

.posts-show-nashville .blog-content .trip-location.left {
	left:0%;
	right:50%;
}

.posts-show-nashville .blog-content .trip-location.active {
	top:0;
	z-index:1000;
	-webkit-transform:translateX(0);
	opacity:1;
}


.posts-show-nashville .trip-location.active .card {
	cursor:pointer;
	pointer-events:auto;
}


.posts-show-nashville .blog-section .posts p {
	margin-bottom:3em;
	line-height:1.6em;
}


/*
	
	CARDS

*/
.posts-show-nashville .card.animating .header,
.posts-show-nashville .card.animating p {
	visibility:hidden;
}

.posts-show-nashville .card.use-transition {
	-webkit-transition:-webkit-transform 400ms ease, width 400ms ease;
}

.posts-show-nashville .card.right {
	margin-right:5%;
}

.posts-show-nashville .card .header img {
	width:100%;
	display:none;
}

.posts-show-nashville .card .header img:first-child {
	display:block;
}

.posts-show-nashville .card .header .hero {
	display:block;
}

.posts-show-nashville .card .close {
	display:none;
}



.posts-show-nashville .card .expand:before {
	margin-right:5px;
	content:'[+]';
	-webkit-transition:letter-spacing 200ms ease-out;
}

.posts-show-nashville .card:hover .expand {
	opacity:1;
}

.posts-show-nashville .card:hover .expand:before {
	letter-spacing:0.3em;
}


/* 

	EXPANDED SECTIONS

*/

.posts-show-nashville .blog-content .trip-location.expanded.right,
.posts-show-nashville .blog-content .trip-location.expanded.left {
	left:0 !important;
	right:0 !important;
	width:auto;
}

.posts-show-nashville .blog-section.expanded {
	margin:38px auto 0;
	padding:0 40px;
	overflow:auto;
}

.posts-show-nashville .blog-section.expanded .card {
	top:40px;
	margin:0 auto 120px;
	float:none;
	height:auto;
	width:auto;
	max-height:none;
	max-width:1024px;
	-webkit-transform:translateY(0);
	box-shadow:0 0 70px #000;
	cursor:auto;
}

.posts-show-nashville .blog-section.expanded .galleria-thumbnails-container,
.posts-show-nashville .blog-section.expanded .galleria-image-nav,
.posts-show-nashville .blog-section.expanded .location-facts {
	display:block;
}

.posts-show-nashville .blog-section.expanded .card .expand {
	display:none;
}

.posts-show-nashville .blog-section.expanded .header {
	height:auto;
	overflow:visible;
}

.posts-show-nashville .blog-section.expanded .header .title {
	width:auto;
	color:#000;
	text-shadow:none;
	font-style:normal;
	font-size:2.7em;
}

.posts-show-nashville .blog-section.expanded .header .image {
	min-height:0;
	width:auto;
}

.posts-show-nashville .blog-section.expanded .posts {
	display:block;
}


.posts-show-nashville .blog-section.expanded .summary {
	display:none;
}

.posts-show-nashville .blog-section.expanded .card .header .title {
	position:static;
	margin:20px auto;
	padding:0 40px;
	text-align:center;
}

.posts-show-nashville .blog-section.expanded .card .header .galleria-container {
	margin:0 auto;
}

.posts-show-nashville .blog-section.expanded .card.right {
	right:auto;
}

.posts-show-nashville .blog-section.expanded .card .close {
	display:block;
}

@media (max-width:880px) {
	.map .posts {
		margin:0;
	}

	.map .posts figure,
	.map .location-facts {
		display:none !important;
	}
}