<article id="blog-content" class="blog takeover">
	<header id="blog-header" class="full-height blog-header">
		<img src="" class="hero" alt="" />
		<div class="text black-highlight">
			<h1 class="blog-title title text-center"></h1>
			<h2 class="text-center publish-date"></h2>
		</div>
	</header>
	
	<section class="clear-fix post trip-location {{position}}">
		<div class="post-body clear-fix">
			<aside id="facts" class="location-facts fl-right text-small aside">
				<h4>Fun Facts</h4>

				<ul>
					<li class="fact"><span class="text"></span></li>
				</ul>
			</aside>

			<div class="body"></div>
			
		</div>
	</section>
	
</article>

<aside id="suggested" class="suggested">
	<h4>Other posts on turissini.io</h4>
	<div class="posts grid">
		<article class="post grid-cell">
			<a href="" class="suggested-link">
				<img src="" class="image" />
				<h5 class="title"></h5>
			</a>
		</article>
	</div>
</aside>