<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.12.0/build/cssreset/cssreset-min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/turissiniio.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/posts/nashville.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/posts/show.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
		<meta name="description" content="" />
		<meta name="og:title" content="" />
		<meta name="og:description" content="" />
		<meta name="og:image" content="" />
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<script>
			document.body.className = 'loading';
		</script>
		<header id="site-header" class="site-header pad clear-fix">
			<h1 id="site-title" class="site-title"><a href="/">turissini.io</a></h1>
		</header>
		<section id="content" class="content">
			
		</section>
		<footer></footer>

		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCY7Iz4DN0iYHwMgJCRp7pJQzIy3iG89Eo&sensor=false"></script>
	
		<script src="/js/turissiniio.js"></script>

	</body>
</html>