<!DOCTYPE html>
<html class="{{bodyCSSClass}}">
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.12.0/build/cssreset/cssreset-min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
	</head>
	<body>
		<header id="site-header" class="site-header pad clear-fix">
			<h1 id="site-title" class="site-title"><a href="/">TravelAddict</a></h1>
			<nav id="site-nav" class="site-nav text-right fl-right">
				<ul class="horizontal">
					<li class="pad"><a href="/about/" data-behavior="push">About</a></li>
					<li class="pad"><a href="/contact/" data-behavior="push">Contact</a></li>
				</ul>
			</nav>
		</header>
		<section id="content" class="content">
			{{{html}}}
		</section>
		<footer></footer>
		<script src="/scripts/vendor/polyfills.js" data-main="browser"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="/scripts/vendor/detect_mobile.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCY7Iz4DN0iYHwMgJCRp7pJQzIy3iG89Eo&sensor=false"></script>
		<script src="/scripts/vendor/require.js" data-main="browser"></script>
		<script>define('jQuery', [], function () { return window.jQuery; });</script>
		<script>
			require.config({
				baseUrl:'/scripts',
				paths: {
    				backbone: 'vendor/backbone',
    				underscore: 'vendor/underscore',
    				cookies: 'vendor/cookies',
    				mustache: 'vendor/mustache',
    				q: 'vendor/Q',
    				browser: 'application/initializers/browser',
    				Galleria: 'vendor/galleria-1.3.1.min',
    				'resource/fetch': 'application/resource/browser/browserfetch'
			    },
			    shim: {
				    'underscore': {
				      exports: '_'
				    },
				    'backbone': {
				      deps: ["underscore"],
				      exports: 'Backbone'
				    },
				    'jQuery': {
				    	exports:'jQuery'
				    },
				    'cookies': {
				    	exports:'jaaulde.utils.cookies'
				    },
				    'q': {
				    	exports:'Q'
				    },
				   	'Galleria': {
				   		exports:'Galleria'
				   	}
				}
			})
		</script>

	</body>
</html>