<!DOCTYPE html>
<html class="{{bodyCSSClass}}">
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.12.0/build/cssreset/cssreset-min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/posts/nashville.css" />
		<meta name="viewport" content="width=1024">
	</head>
	<body>
		<header id="site-header" class="site-header pad clear-fix">
			<h1 id="site-title" class="site-title"><a href="/">turissini.io</a></h1>
			<nav id="site-nav" class="site-nav text-right fl-right">
				<ul class="horizontal">
					<li class="pad"><a href="/about/" data-behavior="push">About</a></li>
					<li class="pad"><a href="/contact/" data-behavior="push">Contact</a></li>
				</ul>
			</nav>
		</header>
		<section id="content" class="content dynamic loading">
			{{{html}}}
		</section>
		<footer></footer>

		<script src="/scripts/vendor/polyfills.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="/scripts/vendor/detect_mobile.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCY7Iz4DN0iYHwMgJCRp7pJQzIy3iG89Eo&sensor=false"></script>
		<script src="/scripts/vendor/require.js"></script>
		<script>
			define('jQuery', [], function () {
				return window.jQuery;
			});

			require.config({
				baseUrl:'/scripts',
				paths: {
    				backbone: 'vendor/backbone',
    				underscore: 'vendor/underscore',
    				cookies: 'vendor/cookies',
    				mustache: 'vendor/mustache',
    				q: 'vendor/Q',
    				Galleria: 'vendor/galleria-1.3.1.min'
			    },
			    shim: {
				    'underscore': {
				      exports: '_'
				    },
				    'backbone': {
				      deps: ["underscore"],
				      exports: 'Backbone'
				    },
				    'jQuery': {
				    	exports:'jQuery'
				    },
				    'cookies': {
				    	exports:'jaaulde.utils.cookies'
				    },
				    'q': {
				    	exports:'Q'
				    },
				   	'Galleria': {
				   		exports:'Galleria'
				   	}
				}
			})

		</script>
		<script src="/scripts/app.min.js"></script>
		<script>
			define('resource/fetch', ['application/resource/browser/browserfetch'], function (f) {
				return f;
			});

			jQuery(document).ready(function () {
				if (jQuery.browser.handheld !== true && (window.history && window.history.pushState)) {
					require(['application/initializers/browser'], function () {});
				} else {
					jQuery('#content').removeClass('loading dynamic');
				}
			});
				
		</script>

	</body>
</html>