<article id="blog-content" class="blog takeover">
	<header id="blog-header" class="blog-header">
		<img src="http://farm3.staticflickr.com/2824/10505814516_5040c94c1c_b.jpg" class="hero" alt="" />
		<div class="text">
			<h1 class="blog-title text-center">Southeast Music and Fall Color Roadtrip</h1>
			<h2 class="blog-dates text-center">October 19 - 26, 2013</h2>
		</div>
	</header>
	<p id="intro" class="intro clear-fix text-big text-center">Our first venture into the South outside of New Orleans. There is no better place to experience country music and no better time to experience the rich fall colors that blanket the region every October.</p>
	<section id="dashboard" class="dashboard pad transparent text-white text-center nowrap text-shadow translucent-dark">
		<ul>
			<li id="state" class="inline">Tennessee</li>
			<li id="timezone" class="inline pad-em border-sides">Central Timezone</li>
			<li id="odometer" class="inline">Mile <span id="odometer-value">0</span></li>
		</ul>
	</section>
	

	<section id="" class="clear-fix post trip-location">
		<header class="relative post-header">
			<div class="images overflow-hidden">
				<img src="" class="image block" alt="" />
			</div>
			<h1 class="title text-big text-bold"></h1>
		</header>
		
		<section class="post-body clear-fix">
			<aside class="location-facts fl-right text-small aside">
				<h4 class="title">Fun Facts</h4>
				<ul class="facts">
					<li class="fact text"></li>
				</ul>
			</aside>
			<div class="posts">
				<div class="body"></div>
			</div>
		</section>
	</section>

	
</article>