<article id="blog-content" class="full-height blog takeover">
	<header id="blog-header" class="full-height blog-header">
		<img src="" class="hero" alt="" />
		<div class="text black-highlight">
			<h1 class="blog-title title text-center"></h1>
			<h2 class="text-center publish-date"></h2>
		</div>
	</header>
	
	<section class="clear-fix post trip-location {{position}}">
		<div class="post-body clear-fix">
			<aside class="location-facts fl-right text-small aside">
				<h4 class="title">Fun Facts</h4>

				<ul>
					<li class="fact"><span class="text"></span></li>
				</ul>
			</aside>

			<div class="body"></div>
			
		</div>
	</section>
	
</article>
<a href="/posts/five-airport-hacks-for-the-savvy-traveler" class="post-link">
			<h2 class="title">5 Airport Hacks for the Savvy Traveler</h2>
		</a>